/* 1. All Imports MUST come first */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

/* 2. Then the Config */
@config "../tailwind.config.js";

/* 3. Then your custom layers and @apply rules */
@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
  }

  body {
    @apply font-sans bg-[#FAFAFA] text-gray-900;
  }
}
