/* 1. All Imports MUST come first */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

/* 2. Then the Config */
@config "../tailwind.config.js";

/* 3. Then your custom layers and @apply rules */
@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
  }

  body {
    @apply font-sans bg-[#FAFAFA] text-gray-900;
  }
}
@layer utilities {
  .italic-text {
    /* Giving the italic text a golden gradient */
    background: linear-gradient(to right, #d4af37, #f3e5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes pulse-slow {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  .animate-pulse-slow {
    animation: pulse-slow 10s ease-in-out infinite;
  }
}
